<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stocks API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


</head>
<body>
    
    <div class="container">
        <h1>Stocks API</h1>
        <label>Enter Ticker</label>
        <input type="text" id="ticker">
        <button id="search">Search</button>
        
        <div id="result"></div>

        <script>
             document.getElementById("search").addEventListener("click", function() {
            let ticker = document.getElementById("ticker").value
            
            fetch(`/stock/${ticker}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById("result").innerHTML = `
                        <h2>${data.ticker}</h2>
                        <p>Price: $${data.price}</p>
                        <p class="${data.change >= 0 ? 'positive' : 'negative'}">
                        Change: ${data.change >= 0 ? '+$' : '-$'}${Math.abs(data.change).toFixed(2)}</p>
                        <p class="${data.change_percent >= 0 ? 'positive' : 'negative'}">
                        Change Percent: ${data.change_percent >= 0 ? '+' : '-'}${Math.abs(data.change_percent).toFixed(2)}%</p>
                        <p>Day Low: $${data.day_low}</p>
                        <p>Day High: $${data.day_high}</p>
                        `
                })
        })
        </script>
    </div>
</body>
</html>